$dark-background-color: navy;
$dark-color: white;
$light-background-color: mintcream;
$light-color: black;

html > body {
    margin: 0rem;
}

.dark {
    background-color: $dark-background-color;
    color: $dark-color;
}

.light {
    background-color: $light-background-color;
    color: $light-color;
}
