<div class="header">
    <div class="header-span">
    <button class="button-main"><span class="material-icons">menu</span></button>
    <button class="button-main">{{ title }}</button>
    <div class="theme-control">
        @if (this.themeService.themeSignal() === 'dark') {
            <button class="button-main" (click)="this.toggleTheme()"><span class="material-icons">light_mode</span></button>
        } @else {
            <button class="button-main" (click)="this.toggleTheme()"><span class="material-icons">dark_mode</span></button>
        }
    </div>
    </div>
</div>