<div class="header">
    <div class="header-span">
    <button><span class="material-symbols-outlined">
            menu
        </span>
    </button>
    {{ title }}
    <div class="theme-control">
        @if (this.themeService.themeSignal() === 'dark') {
            <button (click)="this.toggleTheme()"><span class="material-symbols-outlined">
                dark_mode
            </span>
        </button>
        } @else {
            <button (click)="this.toggleTheme()"><span class="material-symbols-outlined">
                light_mode
            </span>
        </button>
        }
    </div>
    </div>
</div>